body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.displays {
  display: flex;
  flex-direction: column;
  gap: 46px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.display-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-icon {
  display: inline-flex;
  position: relative;
}

.display-icon span {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--display-icon-label-color);
  font-size: 4rem;
  font-weight: 500;
  width: 100%;
  height: 169px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-name {
  color: var(--display-name-label-color);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.display-inputs {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.display-input {
  position: relative;
}

.display-input-button {
  appearance: none;
  border: 0;
  background-color: var(--switch-button-background-color);
  color: var(--switch-button-color);
  border-top: 2px solid var(--switch-button-border-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 44px;
  width: 100%;
}

.display-input-button[data-selected] {
  background-color: var(--switch-button-active-background-color);
  &::before {
    content: '✔';
    margin-right: 10px;
    position: absolute;
    right: 0;
  }
}

.display-input:first-child .display-input-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-color: transparent;
}

.display-input:last-child .display-input-button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
